.hidden {
  display: none;
}

body {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(80, 80, 255);
  background-size: cover;
  font-style: italic;
}

img {
  opacity: 50%;
  width: 100%;
  height: 100%;
}

#clock {
  margin-top: 150px;
  color: rgb(100, 100, 255);
  font-size: 100px;
}

#greeting {
  margin-top: 0px;
}

#todo-form input {
  opacity: 70%;
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 2px 15px;
  outline: none;
  font-weight: 700;
}

#todo-list button {
  background-color: rgb(210, 210, 255);
  border: none;
  border-radius: 15px;
  margin-left: 30px;
  align-items: center;
  padding: 5px;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#quote span {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 230, 255, 0.4);
  border-radius: 15px;
}

#quote span:first-child {
  font-size: 24px;
  margin: 20px;
  width: 700px;
  padding: 10px;
}
#quote span:last-child {
  font-size: 20px;
  margin: 20px;
  width: 300px;
  margin-left: 230px;
}

#weather {
  font-size: 22px;
  font-weight: 700;
  opacity: 70%;
  color: #7777ee;
}
